html, body, div.surface, div.panel {
    height: 100%;
    margin: 0;
}

div.panel {
    padding: 15px;
}

.cssappversion {
    float: right !important;
    padding: 20px !important; 
    font-size:10px;
}